{% extends 'main_template.html'%}


{%block content%}
<div class="grid-margin stretch-card">
<div class="card">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center">Account History</h4>
        <p class="card-description" style="text-align:center">
           Performance
        </p>
           <div class="row justify-content-sm table-responsive">
<table class="table table-hover table-striped table-bordered tab " style="border-collapse: collapse;">
                      <thead>
                         <tr>
          <th scope="col">#</th>
          <th scope="col">Ticket</th>
          <th scope="col">Open Time</th>
          <th scope="col">Type</th>
          <th scope="col">Size</th>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
          <th scope="col">S / L</th>
          <th scope="col">T / P</th>
          <th scope="col">Close Time</th>
          <th scope="col">Price</th>
          <th scope="col">Profit</th>
        </tr>
                      </thead>
<tbody>

    <tr>
      <th scope="row">1</th>
      <td>35342837</td>
      <td>2022.06.28 15:18:12</td>
      <td>@sell</td>
      <td>0.2</td>
      <td>nzdchf_e</td>
      <td>@0.59967</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2022.06.28 16:07:09</td>
      <td>0.60081</td>
      <td>-23.80</td>

    </tr>
        <tr>
      <th scope="row">1</th>
      <td>35342837</td>
      <td>2022.06.28 15:18:12</td>
      <td>@sell</td>
      <td>0.2</td>
      <td>nzdchf_e</td>
      <td>@0.59967</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2022.06.28 16:07:09</td>
      <td>0.60081</td>
      <td>-23.80</td>

    </tr>
        <tr>
      <th scope="row">1</th>
      <td>35342837</td>
      <td>2022.06.28 15:18:12</td>
      <td>@sell</td>
      <td>0.2</td>
      <td>nzdchf_e</td>
      <td>@0.59967</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2022.06.28 16:07:09</td>
      <td>0.60081</td>
      <td>-23.80</td>

    </tr>
        <tr>
      <th scope="row">1</th>
      <td>35342837</td>
      <td>2022.06.28 15:18:12</td>
      <td>@sell</td>
      <td>0.2</td>
      <td>nzdchf_e</td>
      <td>@0.59967</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2022.06.28 16:07:09</td>
      <td>0.60081</td>
      <td>-23.80</td>

    </tr>
    </tr>
        <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>Overal Profit</b></td>
      <td>-23.80</td>

    </tr>
  
  </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock%}
<!--
  <table class="table table-hover" style="width:1">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ticket</th>
      <th scope="col">Open Time</th>
      <th scope="col">Type</th>
      <th scope="col">Size</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">S / L</th>
      <th scope="col">T / P</th>
      <th scope="col">Close Time</th>
      <th scope="col">Price</th>
      <th scope="col">Commission</th>
      <th scope="col">Taxes</th>
      <th scope="col">Swap</th>
      <th scope="col">Profit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>35342837</td>
      <td>2022.06.28 15:18:12</td>
      <td>@sell</td>
      <td>0.2</td>
      <td>nzdchf_e</td>
      <td>@0.59967</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2022.06.28 16:07:09</td>
      <td>0.60081</td>
      <td>-1.13</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>-23.80</td>

    </tr>
        <tr>
      <th scope="row">1</th>
      <td>35342837</td>
      <td>2022.06.28 15:18:12</td>
      <td>@sell</td>
      <td>0.2</td>
      <td>nzdchf_e</td>
      <td>@0.59967</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2022.06.28 16:07:09</td>
      <td>0.60081</td>
      <td>-1.13</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>-23.80</td>

    </tr>
        <tr>
      <th scope="row">1</th>
      <td>35342837</td>
      <td>2022.06.28 15:18:12</td>
      <td>@sell</td>
      <td>0.2</td>
      <td>nzdchf_e</td>
      <td>@0.59967</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2022.06.28 16:07:09</td>
      <td>0.60081</td>
      <td>-1.13</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>-23.80</td>

    </tr>
        <tr>
      <th scope="row">1</th>
      <td>35342837</td>
      <td>2022.06.28 15:18:12</td>
      <td>@sell</td>
      <td>0.2</td>
      <td>nzdchf_e</td>
      <td>@0.59967</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2022.06.28 16:07:09</td>
      <td>0.60081</td>
      <td>-1.13</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>-23.80</td>

    </tr>
  
  </tbody>-->