{% extends 'main_template.html'%}

{%block content%}
<div class="card grid-margin stretch-card" style="height: 50%;">
<div class="title">
    
    <div class="card" style="text-align: center; font-size: 50px; margin-bottom: 15px; padding:1px; margin-top: 25px;">
        <a href="{% url 'add-client-account'%}" class="btn btn-primary btn-md active" role="button" aria-pressed="true" style="border-radius:25px; margin-top:0px">Add New Account</a>
    </div>
</div>
<div class="col">
        
          {% for bot in indices_bots_list%}
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                        <p style="font-size:15px"><b> Account Name: {{bot.account_name}}</b></p>
                        <p style="font-size:15px"><b> Platform: {{bot.choose_platform}}</b></p>
                        <p style="font-size:15px"><b>Account No: {{bot.account_number}}</b></p>                        
                        </div>
                        <div class="col" style="text-align:right; height: auto;">
                              <p style="font-size:15px"><b>$ 0.0    <span><a href="/{{bot.account_number}}" class="mdi mdi-tune"></a></span></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                                                
                        </div>
                        <div class="col" style="text-align:right; height: auto;">
                              
                        </div>
                    </div>
                     <div class="row">
                        <div class="col">
                        <a href="#" class="btn btn-primary btn-md active" role="button" aria-pressed="true" style="border-radius:25px; margin-top:25px">{{bot.status}}</a>                        
                        </div>
                        <div class="col" style="text-align:right; height: auto;">
                              
                        </div>
                    </div>
            
                </div>
              </div>
            </div>
            {% endfor%}
          </div>
          

</div>

{% endblock%}

<!--
    {%for bot in indices_bots_list %}
 {{bot.name}}
 <br>
{% endfor%}-->