{% extends 'main_template.html'%}


{%block content%}
<style >
    .shadowbox {
  width: 50em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 25% 50%;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
    .shadowbox2 {
  width: 50em;

}
</style>
<div class="col-12 grid-margin stretch-card">
<div class="card">
<div class="main-panel">          
      </div>
      </div>
      </div>
     
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
            </div>
           </div>

{% endblock%}