{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gogi Bot Sign in</title>

<link rel="stylesheet" media="all" href="{% static 'signin/styles.css'%}">  
  </head>
<body>

<div class="wrapper">
        <div class="logo">
            <img src="{% static 'icons/Group 12735.png'%}" alt="Girl in a jacket" width="500" height="600">
        </div>
        <div class="text-center mt-4 name" style="text-align:center; color: white;">
            Signin
     </div>
        <form class="p-3 mt-3" method="post">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username"  placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a href="{% url 'signup'%}">Sign up</a>
        </div>
    </div>


  </body>
</html>